//TABLET PORTRAIT
@media only screen and (max-width: 48em) {
    //GENERAL
    header {
        padding: 0.6em;
        height: 70px;
        .eve-logo > a > img {
            width: 140px;
        }
        .eve-icon {
            display: none;
        }
        input.search {
            width: 52%;
        }
    }
    //GRID
    .half {
        width: 100%;
    }

    .third {
        width: 49.35%;
    }

    .quarter {
        width: 32.5%;
    }

    //HOME
    .content {
        padding: 0.3em;
        .home-grid > .event-home {
            padding-bottom: 33%;
            &.half {
                padding-bottom: 49%;
            }
            .event-home-info {
                font-size: 0.8em;
            }
        }
        //EVENT
        .event-content {
            .event-header {
                .event-nav {
                    display: none;
                }
                #event-nav-icon {
                    display: block;
                }
            }
            .event-text {
                font-size: 0.9em;
            }
        }
        //TALKS
        .talks-row {
            font-size: 0.8em;
        }
    }
    //MODAL
    .modal {
        width: 450px;
        margin-left: -225px;
    }
}

//SMARTPHONE PORTRAIT
@media only screen and (max-width: 30em) {
    //GENERAL
    header {
        .eve-logo > a > img {
            width: 120px;
            margin-top: 8px;
        }
    }
    //GRID
    .third {
        width: 100%;
    }

    .quarter {
        width: 49.2%;
    }

    //HOME
    .content > .home-grid > .event-home {
        padding-bottom: 49.35%;
    }
    .content {
        //TALKS
        .event-content {
            .talks-day-title {
                font-size: 3em;
            }
            .talks-row {
                .talks-row-hour {
                    font-size: 1.5em;
        }
                .talks-row-content {
                    .talk-title {
                        font-size: 1.2em;
                    }
                }
            }
            .speaker-row {
                .speaker-row-img {
                    width: 70px;
                }
                .tagline {
                    font-size: 0.8em;
                }
            }
        }
    }
    //MODAL
    .modal {
        width: 320px;
        margin-left: -160px;
        font-size: 0.8em;
        img {
            width: 80px;
        }
    }
}
