// GENERAL
img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $blue;
    &:hover {
        text-decoration: none;
        color: $darkblue;
    }
}

h1 {
    font-size: 1.8em;
    font-weight: lighter;
    color: $mediumgray;
    padding: 0.6em 0 1em 0;
}

h2 {
    font-size: 1.5em;
    font-weight: lighter;
    color: $mediumgray;
    padding: 0.6em 0 1em 0;
}

//POSITION
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.right {
    float: right;
}

.left {
    float: left;
}

//GRID
.full {
    width: 100%;
}

.half {
    width: 49.3%;
}

.third {
    width: 32%;
}

.quarter {
    width: 24.5%;
}

.last {
    margin-right: 0 !important;
}

// TEXT SELECTION
::selection {
    background: $blue;
    text-shadow: none;
}

::-moz-selection {
    background: $blue;
    text-shadow: none;
}

input.search {
    border: 1px solid $lightgray;
    padding: 0.8em;
    font-size: 1em;
    color: $mediumblue;
    outline: 0;
    font-weight: lighter;
    @include placeholder {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: $lightgray;
    }
    &:focus {
        border: 1px solid $blue;
        @include placeholder {
            color: $blue;
        }
    }
}
