// GENERAL
img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $blue;
    &:hover {
        text-decoration: none;
        color: $darkblue;
    }
}

p {
    margin-bottom: 12px;
}

h1 {
    font-size: 1.8em;
    font-weight: lighter;
    color: $mediumgray;
    padding: 0.6em 0 1em 0;
}

h2 {
    font-size: 1.5em;
    font-weight: lighter;
    color: $mediumgray;
    padding: 0.6em 0 1em 0;
}

//POSITION
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.hide {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.translate-3d-menu {
    @include translate-3d(-70%, 0, 0);
}

.translate-3d-menu-left {
    @include translate-3d(70%, 0, 0);
}

//GRID
.full {
    width: 100%;
}

.half {
    width: 49.3%;
}

.third {
    width: 32%;
}

.quarter {
    width: 24.5%;
}

.last {
    margin-right: 0 !important;
}

// TEXT SELECTION
::selection {
    background: $blue;
    text-shadow: none;
    color: white;
}

::-moz-selection {
    background: $blue;
    text-shadow: none;
    color: white;
}

//ELEMENTS
input.search {
    border: 1px solid $lightgray;
    padding: 0.8em;
    font-size: 1em;
    color: $mediumblue;
    outline: 0;
    font-weight: lighter;
    @include placeholder {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: $lightgray;
    }
    &:focus {
        border: 1px solid $blue;
        @include placeholder {
            color: $blue;
        }
    }
}

//TAGS
.tagline {
    display: inline-block;
    width: 100%;
    .tag {
        display: inline-block;
        margin-right: 4px;
        background-color: lighten($blue, 15%);
        color: $darkblue;
        padding: 0.3em 1em;
        &.tag-green {
            border-left: 8px solid $green;
        }
        &.tag-pink {
            border-left: 8px solid $pink;
        }
        &.tag-cyan {
            border-left: 8px solid $cyan;
        }
        &.tag-lime {
            border-left: 8px solid $lime;
        }
        &.tag-purple {
            border-left: 8px solid $purple;
        }
        &.tag-yellow {
            border-left: 8px solid $yellow;
        }
        &.tag-red {
            border-left: 8px solid $red;
        }
        &.tag-brown {
            border-left: 8px solid $brown;
        }
        &.tag-orange {
            border-left: 8px solid $orange;
        }
        &.tag-black {
            border-left: 8px solid $black;
        }
    }
}

//MODAL POP-UP

.overlay-menu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 980;
    background-color: black;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
}
.modal{
    display: none;
    background: white;
    padding: 0 20px 20px;
    overflow: auto;
    z-index: 1001;
    position: absolute;
    width: 600px;
    min-height: 300px;
    left: 50%;
    margin-left: -300px;
    .closeBtn {
        float: right;
        margin: 15px 0 0 0;
    }
    h2.modal-title {
        color: $blue;
    }
    .modal-speaker {
        color: $mediumblue;
        margin-bottom: 12px;
    }
    .modal-share {
        width: 100%;
        text-align: center;
        i {
            font-size: 2em;
            &.icon-twitter {
                color: $twitter;
            }
        }
    }
    img {
        float: left;
        width: 120px;
        margin: 8px 14px 0 0;
        @include border-radius(50%);
    }
}

//COLORS
.bg-white {
    background-color: white;
}

.bg-darkblue {
    background-color: $darkblue;
}
