//Base Colors
$blue: #5fbcd3;
$mediumblue: #006680;
$darkblue: #164450;

$lightgray: #dbe2e3;
$mediumgray: #93a7ac;
$darkgray: #1f1f1f;

//Uncommon Colors
$purple: #b380ff;
$pink: #ff5599;
$green: #37c8ab;
$lime: #d4ff2a;
$yellow: #ffdd55;
$cyan: #80e5ff;
$red: #ff2a2a;
$brown: #916f6f;
$orange: #ff7f2a;
$black: #1c2422;