//Base Colors
$blue: #5fbcd3;
$mediumblue: #006680;
$darkblue: #164450;

$lightgray: #dbe2e3;
$mediumgray: #93a7ac;
$darkgray: #1f1f1f;

//Uncommon Colors
$purple: #b380ff;
$pink: #ff5599;
$green: #37c8ab;
$lime: #d4ff2a;
$yellow: #ffdd55;
$cyan: #80e5ff;
$red: #ff2a2a;
$brown: #916f6f;
$orange: #ff7f2a;
$black: #1c2422;

//Social
$facebook: #3b5998;
$twitter: #00aced;
$google: #dd4b39;
$instagram: #517fa4;
$youtube: #bb0000;
$pinterest: #cb2027;
$linkedin: #007bb6;
$vimeo: #aad450;
$flickr: #ff0084;
