@import 'reset';
@import 'mixins';
@import 'variables';
@import 'ui';

* {
    @include box-sizing(border-box);
    @include transition(0.3s, ease-in-out);
}

body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: $darkgray;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

header {
    padding: 1em;
    border-bottom: 1px solid $lightgray;
    height: 90px;
    .eve-logo {
        a {
            img {
                width: 160px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .eve-icon {
        position: absolute;
        left: 48%;
        img {
            width: 60px;
        }
    }
    input.search {
        width: 100%;
        max-width: 300px;
    }
}

.content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
    //HOME GRID
    .home-grid {
        .event-home {
            position: relative;
            vertical-align: top;
            margin-bottom: 0.3em;
            margin-right: 0.3%;
            padding-bottom: 24.5%;
            overflow: hidden;
            height: 0;
            background-color: $blue;
            img {
                position: absolute;
                margin: -8% 0 0 -5%;
                height: 130%;
                width: auto;
            }
            &.quarter {
                img {
                    margin: -8% 0 0 -8%;
                    height: 140%;
                }
            }
            .event-home-info {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 1em;
                background-color: rgba(0,0,0,0.6);
                z-index: 2;
                &:hover {
                    background-color: rgba(95,188,211,0.8);
                    padding-top: 100%;
                }
                a {
                    color: white;
                    font-weight: 500;
                    font-size: 1.4em;
                    display: block;
                    &:hover {
                        color: $darkgray;
                    }
                }
                .event-home-date {
                    display: block;
                    color: white;
                }
            }
        }
    }
    //EVENTS

}

footer {
    margin-top: 2em;
    color: $mediumgray;
    text-align: center;
    padding: 1.6em;
    border-top: 1px solid $lightgray;
}

@import 'responsive';
