doctype html
html( lang='en-US')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title EVE APP | Event name | Speakers
        link(rel='stylesheet', href='../css/style.css')
        link(rel='stylesheet', href='../fonts/font-framework/style.css')
        link(rel='stylesheet', href='../bower_components/animate.css/animate.min.css')
        link(rel='stylesheet', type='text/css', link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
        script(src='../bower_components/jquery/dist/jquery.js', type='text/javascript')
        script(src='../js/features.js', type='text/javascript')
        script(src='../js/jquery.modal.js', type='text/javascript')
    body
        .row
            header.full.block
                .eve-logo.inline-block
                    a(href='#')
                        img(src='../images/eve-text.png', border='0')
                .eve-icon.inline-block
                    img(src='../images/eve.svg', border='0')

                input.search.right(type='text', placeholder='Search an event')
            //MODAL POPUP
            .overlay
            .modal
                img(src='../images/eve.svg', alt='Pepe Botella', border='0')
                a(href='#', class='closeBtn')
                    i.icon-close
                h2.modal-title Pepe Botella
                .modal-speaker Scrum master at Chita Labs
                .modal-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .modal-share
                    a(href='###')
                        i.icon-twitter
            //CONTENT
            .content
                section.event-content
                    .event-header
                        i.icon-bubbles#talks-nav-icon
                        h1.full Event Name
                        nav.event-nav
                            ul
                                li
                                    a(href='event.html') Info
                                li
                                    a(href='event-talks.html') Talks
                                li
                                    a(href='event-speakers.html', class='current') Speakers
                                li
                                    a(href='event-location.html') Location
                        i.icon-menu#event-nav-icon
                    nav.event-mobile
                        ul
                            li
                                img(src='../images/eve.svg', border='0', class='icon-eve')
                            li
                                a(href='event.html') Info
                            li
                                a(href='event-talks.html') Talks
                            li
                                a(href='event-speakers.html') Speakers
                            li
                                a(href='event-location.html') Location
                    nav.talks-mobile
                        ul
                            li.talks-img-menu
                                .talks-mobile-info
                                    p Event Name
                                img(src='../images/2x1.png', border='0')
                            li
                                a(href='#') Track name 1
                            li
                                a(href='#') Track name 2
                            li
                                a(href='#') Track name 3
                            li
                                a(href='#') Track name 4
                    .speaker-row
                        .speaker-row-img
                            img(src='../images/eve.svg', alt='Pepe Botella', border='0')
                        .speaker-row-content
                            span.speaker-name Pepe Botella
                            span.speaker-title Scrum master at Chita Labs
                            .tagline
                                .tag.tag-green Groovy
                        .speaker-row-btn.modalLink
                            i.icon-plus
                    .speaker-row
                        .speaker-row-img
                            img(src='../images/2x1.png', alt='Pepe Botella', border='0')
                        .speaker-row-content
                            span.speaker-name Pepe Botella
                            span.speaker-title Scrum master at Chita Labs
                            .tagline
                                .tag.tag-green Groovy
                        .speaker-row-btn
                            i.icon-plus
                    .speaker-row
                        .speaker-row-img
                            img(src='../images/eve.svg', alt='Pepe Botella', border='0')
                        .speaker-row-content
                            span.speaker-name Pepe Botella
                            span.speaker-title Scrum master at Chita Labs
                            .tagline
                                .tag.tag-pink Ruby
                        .speaker-row-btn
                            i.icon-plus
                    .speaker-row
                        .speaker-row-img
                            img(src='../images/eve.svg', alt='Pepe Botella', border='0')
                        .speaker-row-content
                            span.speaker-name Pepe Botella
                            span.speaker-title Scrum master at Chita Labs
                            .tagline
                                .tag.tag-purple HTML
                        .speaker-row-btn
                            i.icon-plus
                    .speaker-row
                        .speaker-row-img
                            img(src='../images/eve.svg', alt='Pepe Botella', border='0')
                        .speaker-row-content
                            span.speaker-name Pepe Botella
                            span.speaker-title Scrum master at Chita Labs
                            .tagline
                                .tag.tag-yellow JavaScript
                        .speaker-row-btn
                            i.icon-plus
                    .speaker-row
                        .speaker-row-img
                            img(src='../images/eve.svg', alt='Pepe Botella', border='0')
                        .speaker-row-content
                            span.speaker-name Pepe Botella
                            span.speaker-title Scrum master at Chita Labs
                            .tagline
                                .tag.tag-red Java
                        .speaker-row-btn
                            i.icon-plus
            footer
                p
                    span eveapp ©2014 |
                    a(href='#') Log In
                    p.sign
                        span Made with <i class="icon-heart"></i> at the <a href="http://piweek.com" target="_blank">Piweek</a>
